{% extends "master.html" %}

{% block body %}

  <h1>Status Console</h1>
  {% for proj in projects %}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">{{ proj.name }}</h2>
    </div>
    <div class="panel-body">
      Last ping recieved: <span data-utc="{{proj.lastping|date:"Y-m-d H:i:s"}}" class='last-ping'></span>
    </div>
  </div>

  {% endfor %}

{% endblock %}


{% block js %}
 $(".last-ping").each(function() {
   var dt = $(this).data("utc");
   var utc = moment.utc(dt,"YYYY-MM-DD HH:mm:ss");
   var local = moment(utc).local();
 
   $(this).text(local.format("M/D/YYYY h:mm:ss a"));
 });



{% endblock %}
